@media screen and (max-width: 1000px) {
    body {
        /* background-color: red; */
    }
    
    .slider {
        height: 35vh;
        width: 80vw;
        margin: 12px auto;
        overflow: hidden;
    }
    nav {
        flex-direction: column;
    }

    nav ul {
        height: 30px;
    }

    .logo {
        justify-content: center;
        margin: 12px 0;
    }

    nav ul {
        justify-content: center;
    }

    .search {
        justify-content: center;
    }

    .search input {
        margin: 12px 20px;
    }

}